{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  {% if title %}
  <title>idoston - {{ title }}</title>
  {% else %}
  <title>idoston - Doston Hamrakulov</title>
  {% endif %}

  <style>
    .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.xing {
  background: #026466;
  color: white;
}

.github {
  background: #000000;
  color: white;
}

.bitbucket {
  background: #1d71f7;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.stackoverflow {
  background: #f9aa2a;
  color: white;
}
.quora{
  background-color: #bf0909;
  color:white;
}
.android {
  background-color: #03ad0e;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

#image_contact {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image_contact:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.image_modal_content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#image_modal_caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.image_modal_content, #image_modal_caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 65px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .image_modal_content {
    width: 100%;
  }
}
</style>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">idoston Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="icon-bar">
    <a href="https://www.linkedin.com/in/dostonhamrakulov/" target="_blank" class="linkedin" title="My LinkedIn profile"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.xing.com/profile/Doston_Hamrakulov/cv" target="_blank" class="xing" title="My Xing profile"><i class="fa fa-xing"></i></a>
    <a href="https://github.com/dostonhamrakulov" target="_blank" class="github" title="My GitHub account - public repositories"><i class="fa fa-github"></i></a>
    <a href="https://bitbucket.org/dostonhamrakulov/" target="_blank" class="bitbucket" title="
     My Bitbucket account - public repositories"><i class="fa fa-bitbucket"></i></a>
    <a href="https://stackoverflow.com/users/7186690/dost-hamra" title="Stack overflow" class="stackoverflow" target="_blank"><i class="fa fa-stack-overflow"></i></a>
    <a href="https://www.quora.com/profile/Doston-Hamrakulov" target="_blank" class="quora" title="Quora - account of Doston Hamrakulov">
      <i class="fa fa-quora"></i></a>
    <a href="https://play.google.com/store/apps/developer?id=Doston+Hamrakulov" class="android" title="Google Play Store - Android Application by Doston" target="_blank"><i class="fa fa-android"></i></a>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>New Posts and Projects</h3>
          <p class='text-muted'>Here, you will find information about the latest posts and projects.
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home' %}">Latest Posts</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home' %}">Announcements</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home' %}">Calendars</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home' %}">etc</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </main>

  <!-- ========== Images configuration start ========================= -->
  <div id="image_modal" class="modal">
    <span class="close">&times;</span>
    <img class="image_modal_content" id="image_modal_img">
    <div id="image_modal_caption"></div>
  </div>
  <script>
  // Get the modal
  var modal = document.getElementById('image_modal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('image_contact');
  var modalImg = document.getElementById("image_modal_img");
  var captionText = document.getElementById("image_modal_caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  </script>


  <!-- ========== Images configuration start ========================= -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
