{% extends "blog/base.html" %}
{% block content %}
<h1>Contact</h1>
<article class="media content-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <img id="image_contact" class="float-left" style="width:100%;" alt="Doston Hamrakulov, Munich, Germany" src="../media/image_folder/IMG_20181208_130505.jpg">
      </div>
      <div class="col-sm-6">
        <p style="font-size: 20px; margin-top:50px;" <i class="fa fa-map-marker" style="margin-top:8px;"></i> Address: Chemnitz, Germany<br>
          <i class="fa fa-phone" style="margin-top:8px;"></i> Phone: +371 28786188<br>
          <i class="fa fa-at" style="margin-top:8px;"></i> Email: info@idoston.com<br></p>
      </div>
    </div>
    <div class="row" style="margin-top:30px;">
      <div class="col-sm-12">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdIcdt6s_Bb1-dWECBqs7dRjfvRmSK-pz798N0o-9oVk3IjsA/viewform?embedded=true" width="640" height="996" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div>
</article>
{% endblock content %}
